.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 6rem;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.description {
  margin-top: 20px;
  color: var(--buf-grey-03);
  font-size: 18px;
  max-width: 50%;
  text-align: left;
}

.title {
  font-size: 60px;
  font-weight: 200;
  line-height: var(--sl-line-height-headings);
  max-width: 80%;
  color: var(--buf-ink-blue-02);
  margin-bottom: 11px;
  text-align: left;
}

.subtitle {
  font-size: 36px;
  max-width: 50%;
  font-weight: 300;
  line-height: var(--sl-line-height-headings);
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .subtitle {
    max-width: none;
  }
}

@media screen and (max-width: 650px) {
  .heroBanner {
    padding: 0;
  }

  .title {
    max-width: none;
    font-size: 42px;
    text-align: center;
  }

  .subtitle {
    font-size: 36px;
    width: 100%;
  }

  .description {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .container {
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
  }
}
