name: ci
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.tmp
            .tmp
          key: ${{ runner.os }}-connectrpc-ci-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-connectrpc-ci-

      - name: Install dependencies
        run: npm clean-install

      - name: Run CI
        run: npm run ci

      - name: Check Diff
        id: checkdiff
        run: |
          [[ -z $(git status --porcelain | tee /dev/stderr) ]] || exit 1
